@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Microsoft.AspNetCore.Components;
@inherits LayoutComponentBase
@inject IJSRuntime JS

<HeadContent>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <RadzenTheme Theme="material" @rendermode="RenderMode.InteractiveWebAssembly" />
</HeadContent>

<RadzenDialog />
<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    @{
                        //Capture when the access token can't be retrieved (i.e. refresh token is expired after 1d) and perform an interactive redirect
                        if (ex is AccessTokenNotAvailableException)
                        {
                            ((AccessTokenNotAvailableException)ex).Redirect();
                        }
                    }
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
